@use '../../assets/sass/00-helpers/variables' as var;
@use '../../assets/sass/00-helpers/breakpoints' as bp;

.page-section {
  scroll-margin-top: 12.5rem 
}

.page-section--menu {
  margin-bottom: 3.5rem;
}

.page-section__list {
  padding-left: 0;

  @include bp.media-breakpoint-up('md') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

}

.page-section__list-item {
  width: 100%;
  list-style: none;
}
