.cols {
  padding: 4.75rem 0;

  & * {
    z-index: 100;
  }
}

.cols__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.cols--has-bg-grayscale {
  position: relative;
  filter: grayscale(15%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);  
  }
}

.cols--has-bg {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

}

.col {
  flex-basis: 0;
  flex-grow: 1;
}